<html>
<head>
<title>Rates Convertor API</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">	
<script src="https://code.jquery.com/jquery-git2.min.js"></script>	
</head>
<body>
		<div class="ui blue inverted menu">
    <div class="ui blue container">
        <div class="header item"><i class="money bill alternate icon"></i>Welcome to the Rates Convertor API!</div>
        <a href="/" class="item">Home</a> 
    </div>
		
	</div>